{% extends 'base.html.twig' %}

{% block title %}Hello StartController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/slick.css')  }}" rel="stylesheet"/>
    <link href="{{ asset('css/slick-theme.css')  }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div id="main" class="container-fluid">
    <section id="top" class="row">
        <div class="slider single-item">
            <div class="slide-item bg-1">
                <div class="container">
                    <div class="row">
                        1111
                    </div>
                </div>
            </div>
            <div class="slide-item bg-2">
                <div class="container">
                    <div class="row">
                        222
                    </div>
                </div>
            </div>
            <div class="slide-item bg-3">
                <div class="container">
                    <div class="row">
                        333
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-1" class="row py-5">
        <div class="container py-4">
            <div class="row py-5">
                <div class="col-md-5 offset-md-1 col-sm-12">
                    <h3 class="text-red">FEATURED</h3>
                    <h1>Workout of the day</h1>
                    <div class="text-muted w-desc my-4 pr-5">
                        This is a beginner level workout that is designed to burn fat and build lean muscle mass through a series of short, intense intervals.
                    </div>
                    <button class="btn btn-outline-info rounded-0">
                        <span>CHECK OUT MY WORKOUTS</span>
                    </button>
                </div>
                <div class="col-md-6 col-sm-12">
                    <ul>
                        <li>
                            <h4>Push Up Burpees - 3 sets of 20 reps</h4>
                            <small class="text-muted">
                                Being uncomfortable with ourselves makes us anxious and depressive and affects our life quality.
                            </small>
                        </li>
                        <li>
                            <h4>Air Squats - 5 sets of 30 seconds</h4>
                            <small class="text-muted">
                                Vivamus hendrerit arcu sed erat molestie vehicula sed auctor neque eu tellus rhoncus ut eleifend.
                            </small>
                        </li>
                        <li>
                            <h4>Butterfly Sit-ups - 50 reps</h4>
                            <small class="text-muted">
                                Phasellus molestie magna non est bibendum non venenatis nisl tempor lorem ipsum dolor.
                            </small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="section-2" class="row py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-6 offset-md-6 col-sm-12">
                    <h3 class="text-turquoise mb-3">SUCCESS STORIES</h3>
                    <h1 class="my-3">Jennifer Kai regained her</h1>
                    <h2>figure after giving birth</h2>
                    <small class="text-muted my-4 d-block">
                        "In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus tos himenaeos. Sed molestie augue sit amet leo consequat".
                    </small>
                    <div>
                        <button class="btn btn-outline-info rounded-0">
                            <span>VIEW HER WORKOUTS</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-3" class="row py-5">
        <div class="container py-5">
            <div id="recommendations" class="row">
                <div class="col-md-4 text-center">
                    <picture>
                        <img src="https://brizy.b-cdn.net/media/iW=194&iH=194&oX=0&oY=0&cW=194&cH=194/1afb4d43bed2de06f64e81c50d575726.jpg" alt="">
                    </picture>
                    <h4>Know your BMI</h4>
                    <small class="text-muted d-block">
                        Body Mass Index is a measure of body fat, and knowing your BMI is important. Lorem ipsum dolor sit amet, vivendum invenire usu in, alii dissentiunt at eos. Quot eros percipit duo ad, labitur fabellas reprehendunt mel ei.
                    </small>
                    <div>
                        <button class="btn btn-outline-dark rounded-0">
                            <span>CALCULATE YOUR BMI</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <picture>
                        <img src="https://brizy.b-cdn.net/media/iW=194&iH=194&oX=0&oY=0&cW=194&cH=194/ab7f4b0ae8fbaea6d18dd4b04cc1f555.jpg" alt="">
                    </picture>
                    <h4>Know your BMI</h4>
                    <small class="text-muted d-block">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis tor mauris, quis sollicitudin sapien justo in In condimentum facilisis porta. Sed nec diam eu diam materra.
                    </small>
                    <div>
                        <button class="btn btn-outline-dark rounded-0">
                            <span>GET AN APPOINTMENT</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <picture>
                        <img src="https://brizy.b-cdn.net/media/iW=194&iH=194&oX=0&oY=1&cW=194&cH=192/88d67defa7fa7c2932bb0901c27faabd.jpg" alt="">
                    </picture>
                    <h4>Nutrition advice</h4>
                    <small class="text-muted d-block">
                        Most popular diets and nutrition plans:
                    </small>
                    <ul>
                        <li><a href="">WEIGHT-LOSS PLAN</a></li>
                        <li><a href="">ALKALINE DIET</a></li>
                        <li><a href="">500 CALORIES PLAN</a></li>
                    </ul>
                    <div>
                        <button class="btn btn-outline-dark rounded-0">
                            <span>MORE NUTRITION ADVICE</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<footer class="container-fluid">
    <div class="row">
        <div class="col text-center py-5">
            <ul id="soc-buttons" class="list-unstyled list-inline">
                <li class="list-inline-item">
                    <a href="">
                        <svg id="nc_icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" class="brz-icon-svg"><g class="nc-icon-wrapper" fill="currentColor"><path fill="currentColor" d="M9.03153,23L9,13H5V9h4V6.5C9,2.7886,11.29832,1,14.60914,1c1.58592,0,2.94893,0.11807,3.34615,0.17085 v3.87863l-2.29623,0.00104c-1.80061,0-2.14925,0.85562-2.14925,2.11119V9H18.75l-2,4h-3.24019v10H9.03153z"></path></g></svg>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="">
                        <svg id="nc_icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" class="brz-icon-svg"><g class="nc-icon-wrapper" fill="currentColor"><path fill="currentColor" d="M24,4.6c-0.9,0.4-1.8,0.7-2.8,0.8c1-0.6,1.8-1.6,2.2-2.7c-1,0.6-2,1-3.1,1.2c-0.9-1-2.2-1.6-3.6-1.6 c-2.7,0-4.9,2.2-4.9,4.9c0,0.4,0,0.8,0.1,1.1C7.7,8.1,4.1,6.1,1.7,3.1C1.2,3.9,1,4.7,1,5.6c0,1.7,0.9,3.2,2.2,4.1 C2.4,9.7,1.6,9.5,1,9.1c0,0,0,0,0,0.1c0,2.4,1.7,4.4,3.9,4.8c-0.4,0.1-0.8,0.2-1.3,0.2c-0.3,0-0.6,0-0.9-0.1c0.6,2,2.4,3.4,4.6,3.4 c-1.7,1.3-3.8,2.1-6.1,2.1c-0.4,0-0.8,0-1.2-0.1c2.2,1.4,4.8,2.2,7.5,2.2c9.1,0,14-7.5,14-14c0-0.2,0-0.4,0-0.6 C22.5,6.4,23.3,5.5,24,4.6z"></path></g></svg>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="">
                        <svg id="nc_icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" class="brz-icon-svg"><g class="nc-icon-wrapper" fill="currentColor"><path fill="currentColor" d="M24,6.4c-0.1,2.3-1.7,5.5-4.9,9.6c-3.3,4.2-6,6.4-8.3,6.4c-1.4,0-2.6-1.3-3.6-3.9c-0.6-2.4-1.3-4.7-1.9-7.1 C4.6,8.8,3.8,7.5,3,7.5c-0.2,0-0.8,0.4-1.9,1.1L0,7.2c1.2-1,2.4-2.1,3.5-3.1C5.1,2.7,6.3,2,7.1,1.9c1.9-0.2,3,1.1,3.4,3.8 c0.5,2.9,0.8,4.8,1,5.5c0.5,2.4,1.1,3.7,1.8,3.7c0.5,0,1.3-0.8,2.3-2.4c1-1.6,1.5-2.8,1.6-3.6c0.1-1.4-0.4-2.1-1.6-2.1 c-0.6,0-1.2,0.1-1.8,0.4c1.2-3.9,3.4-5.7,6.8-5.6C23,1.7,24.1,3.3,24,6.4z"></path></g></svg>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="">
                        <svg id="nc_icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" class="brz-icon-svg"><g class="nc-icon-wrapper" fill="currentColor"><path data-color="color-2" fill="currentColor" d="M24,11h-2V9h-2v2h-2v2h2v2h2v-2h2V11z"></path> <path fill="currentColor" d="M16.52643,11.00446L9,11v3h4.30109c-0.23212,1.26971-1.5036,3.58588-4.80109,3.58588 c-2.90216,0-5.27002-2.4043-5.27002-5.36713S5.59784,6.85162,8.5,6.85162c1.65143,0,2.75641,0.70428,3.38788,1.3114l2.30713-2.22211 C12.71356,4.55658,10.79498,3.71875,8.5,3.71875c-4.69928,0-8.5,3.80072-8.5,8.5s3.80072,8.5,8.5,8.5 C14.34778,20.71875,17.35991,15.86501,16.52643,11.00446z"></path></g></svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/slick.min.js')  }}"></script>
    <script>
        $(document).ready(function(){
            $('.single-item').slick({
                nextArrow: '<svg id="nc_icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="brz-icon-svg next"><g class="nc-icon-wrapper" fill="currentColor"><title>thin</title><path d="M5.025 16L4 15.009 11.25 8 4 .991 5.025 0l7.762 7.504a.684.684 0 0 1 0 .992L5.025 16z" fill="currentColor" fill-rule="nonzero" stroke="none" stroke-width="1"></path></g></svg>',
                prevArrow: '<svg id="nc_icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="brz-icon-svg prev"><g class="nc-icon-wrapper" fill="currentColor"><title>thin</title><path d="M5.025 16L4 15.009 11.25 8 4 .991 5.025 0l7.762 7.504a.684.684 0 0 1 0 .992L5.025 16z" fill="currentColor" fill-rule="nonzero" stroke="none" stroke-width="1"></path></g></svg>',
            });
        });
    </script>
{% endblock %}